@model CalculateCaloriesFormModel

@{
	ViewData["Title"] = "Calculator";
}

<div class="text-center">
	<h1 class="display-4" style="padding-top: 0.5em;">@ViewData["Title"]</h1>
	<div class="text-box" style="margin:auto; width:60%; text-align:left;padding: 10px 10px 10px 10px">
		<div style="padding: 10px 10px 10px 10px">
			<form method="post">
				<h4 style="font-size: 26px">Calculate your calories.</h4>
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group font-settings">
					<label asp-for="Age"></label>
					<input asp-for="Age" class="form-control" placeholder="Enter your age...">
					<span asp-validation-for="Age" class="small text-danger"></span>
				</div>
				<div class="form-group font-settings">
					<label asp-for="Gender"></label>
					<div>
						<div class="form-check form-check-inline font-settings">
							<input class="form-check-input" type="radio" name="Gender" id="inlineRadio1" value="Male">
							<label class="form-check-label" asp-for="Gender">Male</label>
						</div>
						<div class="form-check form-check-inline font-settings">
							<input class="form-check-input" type="radio" name="Gender" id="inlineRadio2" value="Female">
							<label class="form-check-label" asp-for="Gender">Female</label>
						</div>
					</div>
					<span asp-validation-for="Gender" class="small text-danger"></span>
				</div>
				<div class="form-group font-settings">
					<label asp-for="Height"></label>
					<input asp-for="Height" class="form-control" placeholder="Enter your height in centimeters...">
					<span asp-validation-for="Height" class="small text-danger"></span>
				</div>
				<div class="form-group font-settings">
					<label asp-for="Weight"></label>
					<input asp-for="Weight" class="form-control" placeholder="Enter your weight in kilograms...">
					<span asp-validation-for="Weight" class="small text-danger"></span>
				</div>
				<div class="form-group font-settings">
					<div class="form-group">
						<label asp-for="Activity"></label>
						<select asp-for="Activity" class="form-control">
							<option value="1.2" selected>Little or no exercise</option>
							<option value="1.375">Exercise 1-3 times a week</option>
							<option value="1.55">Exercise 3-5 times a week</option>
							<option value="1.725">Exercise 6-7 times a week</option>
						</select>
					</div>
					<span asp-validation-for="Activity" class="small text-danger"></span>
				</div>
				<button type="submit" class="btn-settings font-settings">Submit</button>
			</form>
		</div>
	</div>
</div>


@section Scripts{
<partial name="_ValidationScriptsPartial" />
}