<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Diet Calculator</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/navbar.css" />
</head>
<body>
	<header>
		<nav class="navbar bg-secondary font-settings navbar-expand-sm navbar-light box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand btn-settings" asp-area="" asp-controller="Home" asp-action="Index">Diet Calculator</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<a class="navbar-brand btn-settings" asp-area="" asp-controller="Food" asp-action="All">Food</a>
					<ul class="navbar-nav flex-grow-1">
						@if (User.Identity.IsAuthenticated)
						{
							<li class="nav-item navbar-brand">
								<a class="navbar-brand btn-settings" asp-area="" asp-controller="Calculator" asp-action="Calculator">Calculator</a>
							</li>
							<li >
								<button type="button" class="navbar-brand btn-settings" style="margin-top:5px"
									data-toggle="toggle" data-target="#expandingButton">
									Diets
								</button>

								<div id="expandingButton">
									<ul class="navbar-nav flex-grow-1" style="margin-bottom:5px">
										<li class="nav-item">
											<a class="nav-link text-dark" asp-area="" asp-controller="Diet" asp-action="Deficit">Deficit</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-dark" asp-area="" asp-controller="Diet" asp-action="Balanced">Balanced</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-dark" asp-area="" asp-controller="Diet" asp-action="Surplus">Surplus</a>
										</li>
									</ul>
								</div>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; @DateTime.UtcNow.Year - Diet Calculator
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
