@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h1 class="display-4" style="padding-top: 0.5em; ">Welcome to Diet calculator</h1>
	<div class="text-box" style="width: 75%; margin:auto;">
		<h3 style="padding-top: 1em;">Here you can calculate your calories, proteins, fats and carbohydrates needed to lose, maintain or gain weight!</h3>
		<h3 style="padding-top: 2em;">You can choose from various foods and create your own custom diets, which will help you achieve the weight you want.</h3>
		<h3 style="padding-top: 2em;">Have a look at all the foods and more details about them right <a style="color:green" href="/Food/All">here</a>.</h3>
		<h3 style="padding-top: 2em; padding-bottom: 1em">Register and start your food journey from <a style="color:green" href="/Identity/Account/Register">here</a>.</h3>
	</div>
</div>
