@model AddFoodFormModel

@{
    ViewData["Title"] = "Add Food";
}

<form method="post">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" placeholder="Enter food name...">
		<span asp-validation-for="Name" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description"></label>
		<input asp-for="Description" class="form-control" placeholder="Enter description...">
		<span asp-validation-for="Description" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="PictureUrl"></label>
		<input asp-for="PictureUrl" class="form-control" placeholder="Enter picture url...">
		<span asp-validation-for="PictureUrl" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Calories"></label>
		<input asp-for="Calories" class="form-control" placeholder="Enter food calories...">
		<span asp-validation-for="Calories" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Proteins"></label>
		<input asp-for="Proteins" class="form-control" placeholder="Enter food proteins...">
		<span asp-validation-for="Proteins" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Fats"></label>
		<input asp-for="Fats" class="form-control" placeholder="Enter food fats...">
		<span asp-validation-for="Fats" class="small text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Carbohydrates"></label>
		<input asp-for="Carbohydrates" class="form-control" placeholder="Enter food carbohydrates...">
		<span asp-validation-for="Carbohydrates" class="small text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}